.App {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

/* dashboard main container style */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 20px;
  justify-content: center;
  margin-top: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
